#back-top {
  visibility: hidden;
}

#back-top.active {
  visibility: visible;
  position: fixed;
  right: 50px;
  bottom: 20px;
  width:40px;
  height:40px;
  background-color:#3498db;
  text-indent:-9999px;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}

#back-top__content--desk {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
  
}
.title{
  font-family: 'Baloo Tammudu 2', cursive;
}  
.title1{


  text-align: center; 
  font-family: 'Baloo Tammudu 2', cursive;
} 
.drop{
  font-family: 'Baloo Tammudu 2', cursive;
}

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  opacity: 0.8;
  background: #000000 /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  color: #000;
  /* overflow:hidden; */
  border: none;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}


/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px ;
  border-left: 0px ;
  border-right: 0px;
  border-top: 0px;
  border-bottom:solid white;
  float: left;
  width: 80%; 
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  outline: none;     
}


.overlay input[type=text]:hover {
  color: rgb(255, 255, 255); 
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom:solid white;
  padding: 15px;
  background: rgb(0, 0, 0);
  color: rgb(85, 81, 81);    
  font-size: 17px;
  cursor: pointer;
}

.overlay button:hover {
  color: rgb(255, 255, 255); 
}

.navbar-brand {
padding-top: 1.3125rem;
padding-bottom: 0.3125rem;
margin-right: 1rem;
font-size: 1.25rem;
text-decoration: none;
white-space: nowrap;
}


.heder-menu ul li ul {
  position: relative;
  display: block;
  left: 0;
  border: 1PX;
  width: 200px;
  background-color: #ffefef;
  border-radius: 10px; 
  transition: .8s;
  padding-top: 0;
  padding-bottom: 0;
}
.heder-menu ul li ul li a {
  display: block; 
}
.heder-menu ul li ul li:first-child a {
  border-left: none;
}
.heder-menu ul li ul {
  opacity: 0;
  visibility: hidden;
  transform: scaley(0);
  transform-origin: top center;
}
.heder-menu ul li:hover ul {
  opacity: 0.8;
  visibility: visible;
  transform: scaley(1) 
}
.heder-menu ul li ul li  :hover {
  background-color: #FF324D;
  border-radius: 5px;
  opacity: 0.7;
  color: #ffffff;  
  font-family: 'Baloo Tammudu 2', cursive;
}


.carousel-caption {
position: absolute;
right: 15%;
bottom: 1.25rem;
left: 15%;
padding-top: 2.25rem;
padding-bottom: 10.25rem;
color: #fff;
text-align: center;
}
.border1 {
  border-bottom: 1px solid rgb(196, 191, 191);
}
.border2 {
border-top: 2px solid rgb(121, 120, 120);
}
p {
margin-top: 1rem;
margin-bottom: 1rem;
}
.carousel-caption1 {
position: absolute;
right: 27%;
bottom: -1.75rem;
left: 4%;
padding-top: 4.25rem;
padding-bottom: 3.25rem;
color: #fff;
text-align: center;
padding-right: 87px;
}
.carousel-caption2 {
position: absolute;
right: 15%;
bottom: 1.25rem;
left: 59%;
padding-top: 2.25rem;
padding-bottom: 13.25rem;
color: #fff;
text-align: center;
}

h3{
    font-family: 'Bree Serif', serif;
}
li a {
    font-family: 'Baloo Tammudu 2', cursive;
 }
  
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .2rem;
    font-weight: 500;
    line-height: 1.2;
}
.navbar-brand {
    padding-top: 1.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .border1 {
    border-bottom: 1px solid rgb(121, 120, 120);
  }
.border2 {
    border-top: 2px solid rgb(121, 120, 120);
  }
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .foot1{
    padding: 50px;
  }
  .b1{

    text-decoration: none;
    font-family: unset;
    text-align: center;

  }
  .b2{
    
    text-decoration: none;
    font-family: unset;
    text-align: center;

  }
  .login_space{
   
    padding-right: 10px;
    padding-left: 10px;
  }

  
  .rg
  {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .ir{
    border-radius: 0px;
  }

   /* ------------------------------------------ */
 .head{
  padding-top: 16px;
}
/* ------------------------------------------------- */
  .navbar-nav1{
    padding-left: 50px;
  }

  .title3{
    padding-top: 1.3125rem;
    padding-bottom: 0.3125rem;
    font-family: 'Baloo Tammudu 2', cursive;
  }
  .Shopwise_Foot{
    margin-top: 0em;
  }